.career-card {
  &-title {
    font-size: 16px;
    font-weight: bold;
  }
  .position-list {
    margin-top: 10px;
    &-item {
      font-size: 14px;
      font-style: italic;
      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }
  .achievement-list {
    margin-top: 15px;
    &-item {
      &:not(:first-child) {
        margin-top: 5px;
      }
    }
  }
}
