.header {
  display: flex;
  height: 80px;
  align-items: center;
  padding: 40px;
  &-title {
    font-size: 32px;
    font-weight: bold;
  }
  &__nav {
    margin-left: auto;
    @media screen and (max-width: 767px) {
      display: none;
    }
    &-list {
      display: flex;
    }
    &-item {
      margin-left: 20px;
      &.work-history {
        height: 80px;
        color: white;

        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          line-height: 1;
          background-color: red;
          padding: 10px 34px 10px 25px;
          border-radius: 5px;
          background-color: #0066cc;
          position: relative;
          &::after {
            content: "↓";
            position: absolute;
            top: 45%;
            right: 10%;
            transform: translateY(-50%);
          }
          &::before {
            content: "";
            position: absolute;
            top: 75%;
            right: 13%;
            width: 10px;
            background-color: #fff;
            height: 1px;
          }
        }
      }
    }
    &-link {
      display: inline-block;
      line-height: 80px;
    }
  }
}
