.home {
  .card {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  .section {
    &.project {
      .project-link {
        color: rgb(52, 52, 222);
        text-decoration: underline;
      }
    }
  }
}
